@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

footer * {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin-top:24px;
}

footer {
  margin: 0 auto;
}
figure {
  margin:0;
}

footer a {
    color: #9dff87;
}


@media (max-width:600px) {
  footer table td:last-child
  {
    display:none;
  }
}



.footer-grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(650px, 1fr);
  font-size: 14px;
  column-gap: 20px;
}