
main {
  background-color: white;
  color: blue;
  font-family: 'Poppins', sans-serif;
}

.nav-main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 2px;
}

aside h3, aside ul{
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 0;
}

.plus {
  font-size: 40px;
  position: right;
  background-color: blue;
  color: white;
  margin: 0;
  height: 100%;
}

.plus-grid {
  display: grid;
  grid-template-columns: auto 22px;
}

.plus .add-state {
  color: blue;
}

.add-state {
  visibility: hidden;
  background-color: white;
  position: absolute;
  margin: 10px;
  width: 230px;
  border: solid blue 1px;
}

.add-state label {
  font-size: 20px;
}

.add-state ul {
  margin: 0;
}

.plus .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.gray-bgc {
  background-color: lightgray;
  padding: 0 5px;
}

.field-title {
  border: blue 1px solid;
  font-size: 20px;
}

.field-card, .state-title {
  margin: 5px;
}

.state-title {
  font-size: 22px;
}
